:root {/*-- Sets color variables --*/
    --white: #FBFBF8;
    --blue: #4DA1A9;
    --red: #EE2E31;
    --text: black;
  }
  body { /*-- Sets body defaults --*/
    padding: .25rem;
    font-size: 18px;
    color: var(--text);
    background-color: var(--white);
    width: 98%;
    margin: 0 auto;
  }

.topnav { /*-- main navigation element --*/
    margin-top: -.25rem; /*-- uses negative margin to pull menu to top --*/
    padding-bottom: .5rem; /*-- creates a little space below nav --*/
    background-color: var(--blue);
    display: flex; /*-- creates a flex container --*/
    flex-direction: row; /*-- direction is for MOBILE screen sizes --*/
    justify-content: space-around; /*-- lays out menu items--*/
    align-content: center; /*-- vertically aligns menu items to center --*/
    z-index: 1000; /*-- makes navbar always sit in the front, on the z-axis--*/
    width: 100%; /*-- makes navbar occupy full width of the body --*/
  }
  a.nav-item {
    position: relative; /*-- overcomes negative margin in above rule --*/
    top: 4px; /*-- tweaks vertical position --*/
    text-align: center; /*-- center-aligns all text inside their boxes --*/
    padding: .75em 0; /*-- provides padding inside menu items --*/
    margin: auto 0; /*-- centers menu text vertically --*/
    color: var(-text);
    transition: color 250ms ease-in-out; /*-- specifies transition, duration, and easing --*/
  }
  a.nav-item:hover {
    color: var(--red);
    cursor: pointer; /*-- changes menu items to pointer on hover --*/
  }

  .left-half {
    position: absolute;
    left: 0px;
    width: 50%;
  }

  .right-half {
    position: absolute;
    right: 0px;
    width: 50%;
  }
  
  .main-grid {
    margin-top: 3.5rem; /*-- adds space above grid wrap --*/
    display: grid; /*-- sets display mode --*/
    grid-gap: 1.5rem; /*-- creates gutters --*/
    grid-template-columns: 1fr; /*-- default mobile layout is 1-column--*/
  }

  .main-grid-item {
    width: 25%;
    height: 100%;
    border-radius: 4px;  /*-- rounds borders --*/
    padding: .5em; /*-- adds space inside --*/
    background-color: var(--blue);
  }
  .thumb {
    padding-bottom: 56%; /*-- creates ~16:9 ratio--*/
    background-size: cover; /*--sets image to cover background --*/
    background-position: center center; /*-- positions image horiz. and vert. center --*/
    border-radius: 4px 4px 0 0; /*-- rounds top-left and top-right edges --*/
  }
  /*-- Card Backgrounds --*/
  .one .thumb {background-image: url("../Images/WD20190627-RiverRoastPrivateEvents-11.jpeg");
  background-size: auto;}